<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>
<body>

<h2>Sign Up</h2>

<form action = "" method = "POST">
    {{form.hidden_tag()}}

    <p>
        {{form.age.label}}<br>
        {{form.age()}}
    </p>

    <p>
        {{form.gender.label}}<br>
        {{form.gender()}}
    </p>


    <p>
        {{form.income.label}}<br>
        {{form.income()}}
    </p>

    <p>
        {{form.residence.label}}<br>
        {{form.residence()}}
    </p>


    <p>
        {{form.diabetes.label}}<br>
        {{form.diabetes()}}
    </p>


    <p>
        {{form.heart.label}}<br>
        {{form.heart()}}
    </p>

    <p>
        {{form.bp.label}}<br>
        {{form.bp()}}
    </p>


    <p>
        {{form.other.label}}<br>
        {{form.other()}}
    </p>

    <p>
        {{form.surg.label}}<br>
        {{form.surg()}}
    </p>

    <p>
        {{form.covid.label}}<br>
        {{form.covid()}}
    </p>

    <p>
        {{form.submit()}}
    </p>
</form>

</body>
</html>


